body {
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", sans-serif;
    background-color: #e03f3f;
    box-sizing: border-box;
}

.card {
    position: relative;
    width: 70%; /* Use a percentage of the container's width */
    max-width: 30vw; /* Use viewport width for scaling */
    height: auto;
    background-color: #b40c0c;
    border-radius: 1vw; /* Relative border-radius */
    padding: 2vw; /* Relative padding */
    margin: 0 auto;
}

.nav-button {
    display: flex;
    align-items: center;
    padding: 2vw; /* Relative padding */
    cursor: pointer;
    margin-bottom: 1.5vw; /* Relative margin */
    box-sizing: border-box;
}

.nav-button .text {
    margin-left: 1vw; /* Relative margin */
    font-size: 1.5vw; /* Relative font size */
}

.nav-button.profile {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(123, 13, 13, 0.1);
}

.nav-button.profile .text {
    color: #000000;
    font-size: 2vw; /* Relative font size */
    line-height: 2.5vw; /* Relative line-height */
}

.nav-button.skills .text,
.nav-button.work-experience .text,
.nav-button.entrepreneurship .text,
.nav-button.extra-curriculars .text,
.nav-button.projects .text,
.nav-button.links .text {
    color: #ececec;
    font-size: 2vw;
    line-height: 2.5vw;
}

.image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image.sam-gpt {
    width: 3vw; /* Relative width */
    height: 3vw; /* Relative height */
}

.image.explore-gpt {
    width: 2vw;
    height: 2vw;
}
