.sidebar {
  width: 2px;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 20px;
  
}

.top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-image {
  margin-top: 20px;
}

.profile-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: justify-content 0.3s;
  text-align: left; /* Ensure text alignment is left */
  width:100;
  box-sizing: border-box; /* Include padding in width calculation */
  transition: justify-content 0.3s, padding 0.3s;
  color: #ffffff;
  cursor: pointer;
}

.profile-button.collapsed {
  justify-content: center;
}

.profile-button span {
  margin-left: 0px;
  transition: display 0.3s;
}

.profile-button.collapsed span {
  display: none;
  margin-left: 10px;
}

.profile-button.active {
  color: #d4d4d4; /* Two shades lighter */
}
a {
  text-decoration: none; /* Remove underline for all anchor tags */
}