body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e1e;
  color: white;
  overflow: hidden; /* Prevent scrolling on the entire page */
}

.App {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Ensure the App container does not scroll */
}

.sidebar {
  width: 70px; /* Adjusted width for the collapsed sidebar */
  background-color: #b40c0c;
  flex-shrink: 0; /* Prevent shrinking */
  position: fixed; /* Fixes the sidebar in place */
  height: 100vh; /* Full height of the viewport */
  overflow-y: auto; /* Allows sidebar content to scroll if necessary */
  transition: width 0.3s ease; /* Smooth transition for collapsing */
}

.main-content {
  flex-grow: 1;
  margin-left: 0px; /* Matches the width of the collapsed sidebar */
  height: 100vh;
  overflow-y: auto; /* Allow vertical scrolling only */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding: 20px;
  transition: margin-left 0.3s ease; /* Smooth transition for expanding */
  width: calc(100% - 70px); /* Dynamically calculate the width */
}

.main-content.expanded {
  margin-left: 2px; /* Adjust this based on expanded sidebar width */
}
