/* Global padding */
body {
    padding: 16px;
    box-sizing: border-box;
}

/* Sidebar styles */
.sidebar {
    width: 200px; /* Default width for larger screens */
    transition: width 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
}

/* Adjust sidebar for mobile devices (phones, less than 600px) */
@media (max-width: 600px) {
    .sidebar {
       
        position: fixed;
        height: 100vh; /* Full height on mobile */
    }
    .main-content {
        margin-left: 0; /* Remove the margin to fill the screen */
        padding: 16px; /* Adjust padding for better content fit */
    }
    .top-left-icon {
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 1001;
    }
}

/* Adjustments for larger devices (tablets, desktops) */
@media (min-width: 600px) {
    .main-content {
        margin-left: 250px; /* Adjust margin to account for sidebar width */
    }
}

/* Adjustments for sidebar collapse */
.sidebar.collapsed {
    width: 70px; /* Adjust the width when sidebar is collapsed */
    transition: width 0.3s;
}

.profile-button.collapsed span {
    display: none; /* Hide text in collapsed state */
}
